@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;700;800;900&family=Yatra+One&display=swap");
*, *::before, *::after{
    box-sizing: border-box;
}

body {
  background-color: #6106f3cb;
  font-family: "Yatra one";
  margin: 0;
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background: #c1c7c3;
  margin-bottom: 32px;
  z-index: 5px;
  padding-bottom: 12px;
}

nav ul {
  list-style: none;
  padding: 0 24px 0 0;
  display: flex;
  gap: 32px;
  font-size: 32px;
  justify-content: flex-end;
}

nav a {
  text-decoration: none;
} 

 h1 {
  color: aliceblue;
  text-align: center;
  font-size: 45px;
  animation: mycolor infinite;
  animation-duration: 15s;
  padding-top: 60px;
} 

.carousel {
  list-style: none;
  width: 75vw;
  height: 80vh;
  margin: auto;
  background-color: #c1c7c3;
  position: relative;
  text-align: center;
  color: #543f09;
  border-radius: 15px;
}

.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
}


.slide[data-active]{
    opacity: 1;
}

.carousel-btn{
  position: absolute;
  background: none ;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 100;
  
}

.carousel-btn:hover,
.carousel-btn:focus{
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-btn:focus{
  outline: 1px solid black;
}

.carousel-btn.prev{
  left: 1rem;
}

.carousel-btn.next{
  right: 1rem;
}

  header > ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }



.carousel-img {
  margin: auto;
  height: 400px;
  width: 600px;
  background-color: orange;
  border-radius: 12px;
  position: absolute;
  top: 19%;
  right: 25%;
  
}

.carousel-title {
  font-weight: lighter;
  margin-top: 5px;
  font-size: 32px;
  text-align: center;
  transform: translateY(1140%);
  
} 

.carousel-subtitle {
  font-weight: lighter;
  margin-top: 5px;
  font-size: 32px;
  text-align: center;
  transform: translateY(1090%);
} 

/*Cellphone*/
@media(max-width:912px){
  .carousel-img{
    left: 44px;
    bottom:10px;
    top: 20px;
  }
  .carousel-subtitle{
    transform: translateY(1700%);
  }
  .carousel-title{
    transform: translateY(1700%);
  }

  body{
    text-align: center;
    
  }

  
}

/*tablets*/
@media (max-width:770px) {
  .carousel-img{
    width: 350px;
    margin: auto;
    left: 40px;
    
  }
  .carousel-subtitle{
    transform: translateY(1100%);
  }
  .carousel-title{
    transform: translateY(1200%);
  }


  .carousel-img{
    right: 30px;
  }

  body{
    text-align: center;
    
  }
}